spring.application.name=trading-challenge-backend
server.port=8080
server.servlet.context-path=/api

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration

jwt.secret=${JWT_SECRET}
jwt.expiration=${JWT_EXPIRATION:86400000}

polygon.api.key=${POLYGON_API_KEY}
polygon.base.url=https://api.polygon.io
binance.base.url=https://api.binance.com
frankfurter.base.url=https://api.frankfurter.app
alphavantage.api.key=${ALPHAVANTAGE_API_KEY}
alphavantage.base.url=https://www.alphavantage.co

logging.level.root=INFO
logging.level.com.mvp18=DEBUG